
<div>
    <div class="banner998" >
        <div class="banner-inner">
            <img src="images/linxi-banner_02.jpg" />
        </div>
    </div>
    <div class="now">
        <div class="head">
           您当前的位置: <a href="#/" class="one">首页</a><span>/</span>
            <a href="#/contactUs" class="two">联系我们</a>
        </div>
        <div class="min">
            <h2>广州公司</h2>
            <div class="left">
                <a href="javascript:;"><img src="images/lianxi-dizhi.jpg"/></a>
                <h4>地址</h4>
                <p>广州市天河区员村西街2号大院</p>
            </div>
            <div class="left mid">
                <a href="javascript:;"><img src="images/lianxi-dianhua.jpg"/></a>
                <h4>电话</h4>
                <p>020-37262578</p>
            </div>
            <div class="left">
                <a href="javascript:;"><img src="images/lianxi-shi.jpg"/></a>
                <h4>工作时间</h4>
                <p>周一到周五9：00~18:00</p>
            </div>
        </div>
    </div>
    <div class="gps">
        <h2>地址导航</h2>
    </div>
    <div class="gps-inner">
        <div class="pic">
            <div style="width:100%;height:100%;border:#ccc solid 1px;font-size:12px" id="map"></div>
        </div>
    </div>

    <div class="givetalk">
        <h2>问题留言</h2>
        <div class="write">
            <input type="text" value="姓名" class="name" ng-model="user.name" />
            <input type="text" value="联系方式" class="lianxi" ng-model="user.lianxi"/>
            <textarea rows="3" cols="20" class="man" ng-model="user.neirong"></textarea>
            <a href="javascript:;" id="send" ng-click="add()">提交留言</a>
        </div>
    </div>
</div>
