<div class="detail_banner">
    <a href="#/"><img src="images/detail_banner.jpg"></a>
</div>
<div class="product_detail_main">
    <div class="inner">
        <h4>您当前的位置：<a href="#/">首页</a>  / <a href="#/">产品中心</a>  / 商品详情</h4>
        <p class="title">{{id.name}}</p>
        <div class="product_title">
            <div class="product_pic" ng-model="subject">
                <div id="bigPic"><img class="boss" ng-src="{{id.imgsrc}}"></div>
                <div id="bigimg"></div>
                <ul class="small_pic" id="smlPic">
                    <li class="xuanxiang"><img src="{{id.imgsrc}}"></li>
                    <li class="xuanxiang"><img src="images/product_11_small.png"></li>
                    <li class="xuanxiang"><img src="images/product_10_small.png"></li>
                </ul>
            </div>
            <div class="product_buy">
                <p class="pirce">RMB:{{id.content}}</p>
                <a href="https://sanoe.tmall.com/shop/view_shop.htm?spm=a230r.1.14.10.6R1yhL&user_number_id=1675042148" class="left">线上购买</a>
                <a class="right" id="shiti_buy">实体店购买</a>
                <div class="icon">
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                    <a href="#"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="product_main_top">
        <div class="inner">
            <p class="title_top">介绍</p>
        </div>
        <div class="content_pic">
            <div class="pic_one">
                <a href="#"><img src="images/content_detail_02.jpg"></a>
            </div>
            <div class="pic_two">
                <a href="#"><img src="images/content_detail_03.jpg"></a>
            </div>
            <div class="pic_one">
                <a href="#"><img src="images/content_detail_04.jpg"></a>
            </div>
        </div>
    </div>
    <div class="product_main_bot">
        <div class="inner">
            <p class="title_top">介绍</p>
            <div class="introduce clear">
                <div class="pic">
                    <img src="images/product_13_big.png">
                </div>
                <div class="content">
                    <h4 class="content_title">源自台湾 三年保修</h4>
                    <div class="trademark"><img src="images/trademark_07.jpg"></div>
                    <p class="name">产品名称：SANOE多功能搅拌机</p>
                    <p class="color">产品颜色：白色、黑色</p>
                    <p class="model">产品型号：B24</p>
                    <p class="size">商品尺寸：16*16*42cm</p>
                    <p class="capacity">杯体容量：600ML</p>
                    <p class="weight">商品重量：1.5kg</p>
                    <p class="power">额定功率：250W</p>
                    <ul class="use">
                        <li>1.高速搅拌水果，五谷研磨</li>
                        <li>2.食品级材质，不含双酚A，坚固安全</li>
                        <li>3.不锈钢刀片锋利耐用，坚固可靠</li>
                    </ul>
                </div>
            </div>
            <p class="title_top xiu">秀</p>
            <div class="menu">
                <div class="menu_top clearfix">
                    <div class="word">
                        <p class="name">胡萝卜番石榴汁</p>
                        <p class="ready">材料准备</p>
                        <p class="Science">牛奶、胡萝卜、番石榴</p>
                        <p class="ready">制作步骤</p>
                        <p class="Science" style="border: none !important;">把胡萝卜、番石榴放进容器中然后加入牛奶；将盖子盖上拧紧（箭头对箭头）；按下按钮，美味瞬间完成</p>
                    </div>
                    <div class="pic">
                        <img src="images/water_03.jpg">
                    </div>
                </div>
                <div class="menu_top clearfix">
                    <div class="word margin_top">
                        <p class="name">苹果汁</p>
                        <p class="ready">材料准备</p>
                        <p class="Science">苹果两个、纯净水</p>
                        <p class="ready">制作步骤</p>
                        <p class="Science" style="border: none !important;">苹果削皮。将苹果放入搅拌杯中加入适量的纯净水然后搅拌十几秒，均匀即可。</p>
                    </div>
                    <div class="pic margin_top">
                        <img src="images/water_07.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>













