*{ margin: 0; padding: 0;}
a{ text-decoration: none}
ul,li{ list-style: none;}
.bannerpic{ width: 100%; height: 450px; background: url("../images/banner-bg_02.jpg")}
.main{ width: 1200px;  margin: 42px auto 0;}
.main .main_position{ font: 14px/50px "微软雅黑";font-weight: bolder;color: #535353;}
.main .main_position a{ color: #535353;}
.main .main_position a:hover{ color: #feba4f}

.main .main_one h3{ font: 32px/50px "微软雅黑"; color: #80b100; position: relative; margin-bottom: 30px;}
.main .main_one h3:after{ content:""; width: 122px; height: 1px; background-color: #fea821; position: absolute;  left: 0; top: 60px;}
.main .main_one .one_bg{ height: 248px; background: url("../images/one_bg_03.jpg"); margin-bottom: 27px;}
.main .main_one p{ font: 14px/24px "微软雅黑"; color: #a0a0a0; margin-bottom: 49px;}
.main .main_one h4{ font: 24px/44px "微软雅黑"; color: #ffa622; position: relative; margin-bottom: 36px;}
.main .main_one .one_bg_bottom{ height: 271px; background: url("../images/one_map_03.jpg") no-repeat center; margin-bottom: 46px;}


.main .main_two h3{ font: 32px/50px "微软雅黑"; color: #80b100; position: relative; margin-bottom: 30px; margin-bottom: 30px;}
.main .main_two h3:after{ content:""; width: 130px; height: 1px; background-color: #fea821; position: absolute;  left: 0; top: 60px;}
.cards_wrap{ margin-bottom: 100px;}

#cloud{width: 600px;overflow: hidden;height: 200px; margin:0 auto }
#pic_nav{width: 1200px;}
#cloud li{list-style: none;float: left;margin: 1px;}
#landscaps{background-image: url("../images/bb1.jpg");display: block;width: 60px;height: 200px;}
#people{background-image: url("../images/bb2.jpg");display: block;width: 60px;height: 200px;}
#nature{background-image: url("../images/bb3.jpg");display: block;width: 60px;height: 200px;}
#abstract{background-image: url("../images/bb5.jpg");display: block;width: 60px;height: 200px;}
#urban{background-image: url("../images/bb4.jpg");display: block;width: 320px;height: 200px;}



.main .main_three{ overflow: hidden; position: relative; height: 630px; margin-bottom: 120px;}
.main .left_btn{ position: absolute; right: 100px; top:40px; font-size: 30px; color: green; cursor: pointer}
.main .right_btn{ position: absolute; right: 20px; top: 40px; font-size: 30px;  color: green ;cursor: pointer}
.main .main_three h3{ font: 32px/50px "微软雅黑"; color: #80b100; position: relative; margin-bottom: 30px;}
.main .main_three h3:after{ content:""; width: 130px; height: 1px; background-color: #fea821; position: absolute;  left: 0; top: 60px;}
#box{ width:2000px; height: 200px; margin-left: 0;  position: absolute; left: -2px; top: 120px;}
.main .main_three li{ width: 120px; position: relative; float: left;transition: background 500ms;}
.main .main_three li:hover{ background: rgba(174,204,90,0.5)}
.main .main_three li p{  word-wrap: break-word; width: 20px;  letter-spacing: 12px; padding: 20px 50px; border-right: 1px solid #ccc; font: 12px "微软雅黑w"; color: #a0a0a0; }
.main .main_three li p:after{ content:""; position: absolute; right: 0; top: 0; width: 20px; height: 1px; background: #ccc}
.main .main_three li span{ width: 20px; text-align: center; position: absolute; left: 35px; top: -10px; font-size: 20px}
