.error_bg{width: 100%;height: 758px;margin: 0 auto;background-image: url("../images/404.jpg");background-repeat: no-repeat;}
.error_btn{height: 44px;width: 347px;margin: 0 auto;padding-bottom: 98px;}
.error_btn a{display: block;width: 145px;height: 44px;border-radius: 8px;line-height: 44px;text-align: center;color: #fff;float: left;font-size: 24px;}
.error_btn .toHome{background-color: #81b001;}
.error_btn .toLast{background-color: #fea821;float: right;}
